hold/UEFI_Spec_2_9_2021_03_18.pdf
vb/SEOSBL/drive.hdd.osfdelta.index
vb/SEOSBL/drive.hdd.osfdelta.raw
vb/SEOSBL/SEOSBL-1.15-windows.vbox
vb/SEOSBL/SEOSBL.nvram
vb/SEOSBL/SEOSBL.vbox
vb/SEOSBL/SEOSBL.vbox-prev
vb/SEOSBL/Logs
.vscode/settings.json
src/Makefile
hold/ACPI_Spec_6_4_Jan22.pdf
SEOSBL.code-workspace
compileArmEFI.bat
eggcarrier.png
loader.bin
loader2.bin
BOOTX64.EFI
.vscode/launch.json
.vscode/c_cpp_properties.json
